<launch>


<!-- Run the map server -->
<arg name="map_file" default="/home/christian/projects/SLAM_algo/software/slam/amcl/room.yaml" />
<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


<!-- Run the amcl package -->
<node pkg="amcl" type="amcl" name="amcl" respawn="false" output="screen">
      <param name="transform_tolerance" value="0.2" />
      <param name="gui_publish_rate" value="10.0"/>
      <param name="save_pose_rate" value="0.5"/>
      <param name="laser_max_beams" value="30"/>
      <param name="min_particles" value="500"/>
      <param name="max_particles" value="5000"/>
      <param name="initial_pose_x" value="-6.425"/>
      <param name="initial_pose_y" value="-6.425"/>
      <param name="initial_pose_a" value="0.0"/>
      <param name="odom_frame_id" value="map" />
      <param name="use_map_topic" value="true" />
</node>


<node pkg="move_base" type="move_base" name="move_base" respawn="false" output="screen">
<rosparam file="/home/christian/projects/SLAM_algo/software/slam/amcl/costmap_common_params.yaml" command="load" ns="global_costmap" />
<rosparam file="/home/christian/projects/SLAM_algo/software/slam/amcl/costmap_common_params.yaml" command="load" ns="local_costmap" />
<rosparam file="/home/christian/projects/SLAM_algo/software/slam/amcl/local_costmap_params.yaml" command="load" />
<rosparam file="/home/christian/projects/SLAM_algo/software/slam/amcl/global_costmap_params.yaml" command="load" />
<rosparam file="/home/christian/projects/SLAM_algo/software/slam/amcl/base_local_planner_params.yaml" command="load" />
</node>



</launch>
